<ion-view title="酒店预订">
	<ion-nav-buttons side="left">
    	<button class="button button-clear button-icon icon ion-arrow-left-c" ng-click="goBack()"></button>
  	</ion-nav-buttons>
  	<ion-content has-header="true" padding="true">			
		<div>	
		</div>
		<div>			
			<ion-list can-swipe="listCanSwipe">
				<ion-item class="item-image">
					<img ng-src="travel/img/hotel.jpg" width="100%"/>			
				</ion-item>
				<ion-item class="item-icon-right">    				
    				<div class="calm">目的地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="4" color="#000000">北京城区</font></strong></div>
    				<i class="icon ion-ios-arrow-right"></i>    					
  				</ion-item>				
	  			<ion-item class="item-icon-right">    				
    				<div class="calm">日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="4" color="#000000">2015年9月6日</font></strong></div>
    				<i class="icon ion-ios-arrow-right"></i>    					
  				</ion-item>
  				<ion-item class="item-icon-right">    				
    				<div class="calm">关键词&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="4" color="#C0C0C0">酒店名/地名</font></strong></div>
    				<i class="icon ion-ios-arrow-right"></i>    					
  				</ion-item>
  				<ion-item class="item-icon-right">    				
    				<div class="calm">星级价格&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="4" color="#C0C0C0">不限</font></strong></div>
    				<i class="icon ion-ios-arrow-right"></i>					
  				</ion-item>  								
			</ion-list>
			<div class="padding-left padding-right">
				<button class="button button-block button-calm">开始搜索</button>	
			</div>
		</div>
  	</ion-content>
</ion-view>