<ion-view>
    <ion-nav-title>旅游 </ion-nav-title>
    <ion-nav-buttons side="left">
    	<div ng-show="!isLogin">
    		<button class="button button-icon icon ion-android-contact" ng-click="openLoginModal('#/app/travel/home')"></button>
    	</div>
  		<div ng-show="isLogin">
    		<button class="button button-icon icon ion-power" ng-click="logout()"></button>
    	</div>
  	</ion-nav-buttons>  		
  	<ion-nav-buttons side="right">
     	<!-- <button class="button button-icon ion-more" ng-click="toolPopover.show($event)"></button> -->
     	<button class="button button-icon icon ion-more"
            	ns-popover
           	 	ns-popover-template="main/templates/ngTools.html"
            	ns-popover-trigger="click"
            	ns-popover-theme="ns-popover-list-theme"
            		ns-popover-placement="bottom|right"
            		ns-popover-timeout="0.5"></button>
  	</ion-nav-buttons> 
  	<ion-content class="has-header scroll-content">  		 		
		<div class="row padding">
			<img src="travel/img/a3.jpg" width="100%"/>
		</div>
		<div class="row padding">
			<div class="col col-50 assertive-bg light" align="center" ng-click="gotoURL('#/app/travel/hotelReservation')">		
				<div><h3 class="light">酒店</h3></div>				
		    	<i class="icon ion-android-home"></i>		    	
			</div>
			
			 <table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25 assertive-bg light" align="center">				
				<div>海外酒店</div>				   	    	
		    	<HR width="100%" color=#FFFFFF size=1>	    	
		    	<div>特惠酒店</div>		    	
			</div>
			
			<table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25  assertive-bg light" align="center">
				<div>团购</div>		    	
		    	<HR width="100%" color=#FFFFFF size=1>
		    	<div>客栈.公寓</div>		    	
			</div>
		</div>
		<div class="row padding">
			<div class="col col-50 positive-bg light" align="center">			
				<div><h3 class="light">机票</h3></div>				
		    	<i class="icon ion-plane"></i>		    	
			</div>
			
			 <table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25 positive-bg light" align="center">				
				<div>火车票</div>				   	    	
		    	<HR width="100%" color=#FFFFFF size=1>	    	
		    	<div>接送机</div>		    	
			</div>
			
			<table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25  positive-bg light" align="center">
				<div>汽车票</div>		    	
		    	<HR width="100%" color=#FFFFFF size=1>
		    	<div>自驾.专车</div>		    	
			</div>
		</div>
		<div class="row padding">
			<div class="col col-50 balanced-bg light" align="center">			
				<div><h3 class="light">旅游</h3></div>				
		    	<i class="icon ion-android-globe"></i>		    	
			</div>
			
			 <table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25 balanced-bg light" align="center">				
				<div>门票.玩乐</div>				   	    	
		    	<HR width="100%" color=#FFFFFF size=1>	    	
		    	<div>周末游</div>		    	
			</div>
			
			<table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25  balanced-bg light" align="center">
				<div>游轮</div>		    	
		    	<HR width="100%" color=#FFFFFF size=1>
		    	<div>签证</div>		    	
			</div>
		</div>
		<div class="row padding">
			<div class="col col-50 energized-bg light" align="center">			
				<div><h3 class="light">攻略.身边</h3></div>				
		    	<i class="icon ion-map"></i>		    	
			</div>
			
			 <table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25 energized-bg light" align="center">				
				<div>出境WiFi</div>				   	    	
		    	<HR width="100%" color=#FFFFFF size=1>	    	
		    	<div>礼品卡</div>		    	
			</div>
			
			<table border="1px" cellpadding="0" cellspacing="0">
			 <HR color=#FFFFFF SIZE=1>
			 </table>
			 
			<div class="col col-25 energized-bg light" align="center">
				<div>美食.购物</div>		    	
		    	<HR width="100%" color=#FFFFFF size=1>
		    	<div>更多</div>		    	
			</div>
		</div>		
  	</ion-content>
</ion-view>