<ion-view title="美食">
	<ion-nav-buttons side="left">
    	<button class="button button-clear button-icon icon ion-arrow-left-c" ng-click="goBack()"></button>
  	</ion-nav-buttons>
  	<ion-content has-header="true" padding="true">			
		<div>	
		</div>
		<div>			
			<ion-list can-swipe="listCanSwipe">
				<ion-item class="item-image">
					<img ng-src="life/img/logo/discount.jpg" width="100%"/>			
				</ion-item>						
	  			<ion-item class="item-thumbnail-left" ng-repeat="food in foodsList" ng-show="foodsList.length" ng-click="gotoURL('#/app/life/storeDetail')">
	    			<img ng-src="{{food.img}}"/>    			
	    			<h2>{{food.loc}}</h2>
	    			<i class="icon ion-android-star {{food.star[0]}}"></i>
	    			<i class="icon ion-android-star {{food.star[1]}}"></i>
	    			<i class="icon ion-android-star {{food.star[2]}}"></i>
	    			<i class="icon ion-android-star {{food.star[3]}}"></i>
	    			<i class="icon ion-android-star food.star[4]}}"></i>
	    			<h3>人均消费  <font color="#FF0000">{{food.spend}}</font>  元</h3>
	    			<h4><font color="#C0C0C0">{{food.reservation}}人已领&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{food.distance}}km&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></h4>
	  			</ion-item>			
			</ion-list>
		</div>
  	</ion-content>
</ion-view>