<ion-view title="我的生活">
	<ion-nav-buttons side="left">
    	<div ng-show="!isLogin">
    		<button class="button button-icon icon ion-android-contact" ng-click="openLoginModal('#/app/life/home')"></button>    				
    	</div>
  		<div ng-show="isLogin">  		
    		<button class="button button-icon icon ion-power" ng-click="logout()"></button>
    	</div>
  	</ion-nav-buttons> 
  	<ion-nav-buttons side="right">
     	<!-- <button class="button button-icon ion-more" ng-click="toolPopover.show($event)"></button> -->
     	<button class="button button-icon icon ion-more"
            	ns-popover
           	 	ns-popover-template="main/templates/ngTools.html"
            	ns-popover-trigger="click"
            	ns-popover-theme="ns-popover-list-theme"
            	ns-popover-placement="bottom|right"
            	ns-popover-timeout="0.5">
        </button>
  	</ion-nav-buttons>
  	<ion-content has-header="true" padding="true">
  		<ion-refresher pulling-text="刷新..." on-refresh="doRefresh()">
  		</ion-refresher>	
		<div>
			<div class="row">
				<div class="col">
					<img src="life/img/220220/cloth.jpg" ng-click="gotoURL('#/app/life/foods')" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;&nbsp;&nbsp;衣</h5></div>					
				</div>
				<div class="col">
					<img src="life/img/220220/dinner.jpg" ng-click="gotoURL('#/app/life/foods')" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;&nbsp;&nbsp;食</h5></div>
				</div>
				<div class="col">
					<img src="life/img/220220/house.jpg" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;&nbsp;&nbsp;住</h5></div>
				</div>
				<div class="col">
					<img src="life/img/220220/walk.jpg" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;&nbsp;&nbsp;行</h5></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="life/img/220220/sport.jpg" ng-click="gotoTaskList()" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;健身</h5></div>
				</div>
				<div class="col">
					<img src="life/img/220220/game.jpg" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;游戏</h5></div>
				</div>
				<div class="col">
					<img src="life/img/220220/tv.jpg" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;娱乐</h5></div>
				</div>
				<div class="col">
					<img src="life/img/220220/tea.jpg" ng-click="openToolPopover($event)" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;休闲</h5></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="life/img/220220/shopping.jpg" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;购物</h5></div>
				</div>
				<div class="col">
					<img src="life/img/220220/party.jpg" style="width:48px;height:48px;max-width:100%;">
					<div><h5>&nbsp;&nbsp;聚会</h5></div>
				</div>
				<div class="col">				
				</div>
				<div class="col">				
				</div>
			</div>
		</div>
		<div>
			<ion-list can-swipe="listCanSwipe">
				<ion-item class="item-divider">
					<h2><strong>热门推荐</strong></h2>
				</ion-item>
	  			<ion-item class="item-thumbnail-left" ng-repeat="special in specialsList" ng-show="specialsList.length" ng-click="gotoURL('#/app/life/storeDetail')">
	    			<img ng-src="{{special.img}}">    			
	    			<h2>{{special.loc}}</h2>
	    			<i class="icon ion-android-star {{special.star[0]}}"></i>
	    			<i class="icon ion-android-star {{special.star[1]}}"></i>
	    			<i class="icon ion-android-star {{special.star[2]}}"></i>
	    			<i class="icon ion-android-star {{special.star[3]}}"></i>
	    			<i class="icon ion-android-star {{special.star[4]}}"></i>
	    			<h3>人均消费  <font color="#FF0000">{{special.spend}}</font>  元</h3>
	    			<h4><font color="#C0C0C0">{{special.reservation}}人已领&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{special.distance}}km&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></h4>
	  			</ion-item>			
			</ion-list>
		</div>
		<ion-infinite-scroll ng-if="!moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%">
		</ion-infinite-scroll>
  	</ion-content>
</ion-view>