<ion-view title="商家详情">
	<ion-nav-buttons side="left">
    	<button class="button button-clear button-icon icon ion-arrow-left-c" ng-click="goBack()"></button>
  	</ion-nav-buttons>
  	<ion-content has-header="true" padding="true">			
		<ion-list>			
  			<ion-item class="item-thumbnail-right">
    			<img ng-src="life/img/logo/kfc.jpg">  			
    			<h2>肯德基（北京顺义隆华店）</h2>
    			<i class="icon ion-android-star energized"></i>
    			<i class="icon ion-android-star energized"></i>
    			<i class="icon ion-android-star energized"></i>
    			<i class="icon ion-android-star energized"></i>
    			<i class="icon ion-android-star energized"></i>
    			<h3>人均消费  <font color="#FF0000">27</font>  元</h3>    			
  			</ion-item>
  			<ion-item class="item-icon-left item-icon-right">
    			<i class="icon ion-ios-location calm"></i>		
    			<h2><font color="#C0C0C0">新顺南大街6号商业楼一层&nbsp;&nbsp;&nbsp;&nbsp;1.8km</font></h2>
    			<i class="icon ion-ios-telephone calm"></i>    						
  			</ion-item>
  			<ion-item class="item-icon-right">    				
    			<h2>所有适用门店&nbsp;&nbsp;&nbsp;&nbsp;<font color="#C0C0C0">44家</font></h2>
    			<i class="icon ion-ios-arrow-right"></i>    					
  			</ion-item>
		</ion-list>
		<ion-list class="padding">
  			<ion-item class="">
    			<h2>评价&nbsp;&nbsp;&nbsp;&nbsp;
    			<i class="icon ion-android-star energized">
    				<i class="icon ion-android-star energized">
    					<i class="icon ion-android-star energized">
    						<i class="icon ion-android-star energized">
    							<i class="icon ion-android-star energized"></i>
    						</i>
    					</i>
    				</i>
    			</i></h2>
    			<div class="item-icon-right"><i class="icon ion-ios-arrow-right"></i></div>
  			</ion-item>  			
		</ion-list>
		<ion-list class="padding">
  			<ion-item class="item-icon-right">
    			<h2>折扣须知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#C0C0C0">不与其他优惠活动同时。。。</font></h2>    			
    			<i class="icon ion-ios-arrow-right"></i>	
  			</ion-item>  			
		</ion-list>
		<ion-list class="padding">
  			<ion-item>
    			<h2>更多信息</h2>
  			</ion-item>
  			<ion-item>
  				<font color="#C0C0C0"><i class="icon ion-wifi"></i>WiFi</font>
  				&nbsp;&nbsp;&nbsp;&nbsp;   			
    			<font color="#C0C0C0"><i class="icon ion-no-smoking"></i>禁烟</font>
  			</ion-item> 
  			<ion-item>
  				<h2><font color="#C0C0C0">营业时间：00:00-23:59</font></h2>
  			</ion-item>
		</ion-list>
  	</ion-content>
</ion-view>