

.h-container .h-container-header {
	margin-top:10px;
	padding: 16px 10px;
	border-bottom: 1px solid #f1f1f1;
	
}

.h-container .h-container-header:after {
	content: '';
	height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
}

.h-container .h-container-header .header-title {
	float: left;
	margin: 0px;
	font-family: '微软雅黑';
    font-weight: 550;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    white-space: nowrap;
}

.h-container .h-container-header .header-more {
	float: right;
	width: 12px;
	height: 12px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.h-container .h-container-content .main-content-box {
	padding: 14px 10px;
}

.h-container .h-container-content .main-content-box:after {
	content: '';
	height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
}

.h-container .h-container-content .main-content-box.show {
	opacity: 1;
	height: 100%;
}

.h-container .h-container-content .main-content-box .left-content {
	float: left;
	margin-left: -5px;
	width: 50%;
	font-family: '微软雅黑';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
}

.h-container .h-container-content .main-content-box .left-content .small-chart-box {
	height: 120px;
}

.h-container .h-container-content .main-content-box .left-content .small-chart-title {
	margin: 0px auto;
}

.h-container .h-container-content .main-content-box .left-content .small-chart-title p {
	margin: 0px;
	color: #999999;
	text-align: center;
	padding: 0px;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.h-container .h-container-content .main-content-box .left-content .small-chart-summary {
	color: #333333;
	text-align: center;
	padding: 8px;
}

.h-container .h-container-content .main-content-box .right-content {
	float: right;
	width: 50%;
	font-family: '微软雅黑';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
}

.h-container .h-container-content .main-content-box .right-content section {
	border-bottom: 1px solid #f2f2f2;
}

.h-container .h-container-content .main-content-box .right-content section p {
	padding: 4px 0;
	margin: 0px;
}

.h-container .h-container-content .main-content-box .right-content section p.title {
	color: #999999;
}

.h-container .h-container-content .main-content-box .right-content section p.value {
	color: #333333;
}

.h-container .h-container-content .main-content-box .right-content section.last-sec {
	border: none;
}

.h-container .h-container-content .main-content-box .top-content {
	margin-left: -5px;
	width: 100%;
	font-family: '微软雅黑';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
}

.h-container .h-container-content .main-content-box .top-content .small-chart-box {
	height: 140px;
}

.h-container .h-container-content .main-content-box .top-content .small-chart-title {
	margin: 0px auto;
}

.h-container .h-container-content .main-content-box .top-content .small-chart-title p {
	margin: 0px;
	color: #999999;
	text-align: center;
	padding: 0px;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.h-container .h-container-content .main-content-box .top-content .small-chart-summary {
	color: #333333;
	text-align: center;
	padding: 8px;
}

.h-container .h-container-content .main-content-box .bottom-content {
	float: right;
	width: 100%;
	font-family: '微软雅黑';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
}

.h-container .h-container-content .main-content-box .bottom-content section {
	border-bottom: 1px solid #f1f1f1;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.h-container .h-container-content .main-content-box .bottom-content section.double {
	height: 100px;
	position: relative;
}

.h-container .h-container-content .main-content-box .bottom-content section p {
	padding: 0;
	margin: 0px;
	display: block;
	height: 100%;
}

.h-container .h-container-content .main-content-box .bottom-content section.double>p{
	width: 30%;
	line-height: 100px;
	position: absolute;
	top: 0;
	left: 0;
}

.h-container .h-container-content .main-content-box .bottom-content section.double section{
	width: 69%;
	position: absolute;
	top: 0;
	right: 0;
}
.h-container .h-container-content .main-content-box .bottom-content section.double section.last-sec{
	top: 50px;
}
.h-container .h-container-content .main-content-box .bottom-content section p.title {
	color: #333333;
	float: left;
	width: 40%;
}

.h-container .h-container-content .main-content-box .bottom-content section p.value {
	color: #999999;
	float: right;
	width: 40%;
	text-align: right;
	
}

.h-container .h-container-content .main-content-box .bottom-content section.last-sec {
	border: none;
}

.h-container .h-container-content .detail {
	display: block;
	position: relative;
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding: 8px 20px;
	background: #f1f1f1;
	color: #999999;
	font-family: '微软雅黑';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    white-space: nowrap;
}

/** 依赖animate.css **/
.animate-fadein{
	animation: fadeIn 1s;
}
