<ion-view title="酒店">
  <ion-content has-header="true" padding="true">  	
	<div class="list list-inset">
		<div class="item item-divider">
			<h2><strong>北京</strong></h2>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-location calm"></i>
			<h3>入住城市：北京</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-calendar calm"></i>
			<h3>入住日期：7月27日 星期五</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-social-yen calm"></i>
			<h3>价格范围：不限价格</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
	</div>	
	<div class="list list-inset">
		<div class="item item-divider">
			<h2><strong>上海</strong></h2>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-location calm"></i>
			<h3>入住城市：上海</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-calendar calm"></i>
			<h3>入住日期：7月26日 星期四</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-social-yen calm"></i>
			<h3>价格范围：不限价格</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>		
	</div>	
	<div class="list list-inset">
		<div class="item item-divider">
			<h2><strong>广州</strong></h2>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-location calm"></i>
			<h3>入住城市：广州</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-calendar calm"></i>
			<h3>入住日期：7月25日 星期三</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>
		<div class="item item-icon-left item-icon-right">
			<i class="icon ion-social-yen calm"></i>
			<h3>价格范围：不限价格</h3>
			<i class="icon ion-ios-arrow-right calm"></i>
		</div>		
	</div>
  </ion-content>
</ion-view>