<ion-view>
  	<ion-nav-bar class="bar bar-positive" align-title="center">
    	<ion-nav-buttons side="left">
    		<div ng-show="!isLogin">
    				<button class="button button-icon icon ion-android-contact" ng-click="gotoURL('#/app/hotel/home')"></button>
    		</div>
  			<div ng-show="isLogin">  		
    			<button class="button button-icon icon ion-power" ng-click="logout()"></button>
    		</div>
  		</ion-nav-buttons>
  		<ion-nav-buttons side="right">
     		<!-- <button class="button button-icon ion-more" ng-click="toolPopover.show($event)"></button> -->
     		<button class="button button-icon icon ion-more"
            		ns-popover
           	 		ns-popover-template="main/templates/ngTools.html"
            		ns-popover-trigger="click"
            		ns-popover-theme="ns-popover-list-theme"
            		ns-popover-placement="bottom|right"
            		ns-popover-timeout="0.5"></button>
  		</ion-nav-buttons>
  	</ion-nav-bar>
  	<ion-nav-view name="hotel" animation="slide-left-right"></ion-nav-view>
</ion-view>