<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive" align-title="center">
    	<h1 class="title"><strong>用户登录</strong></h1>
        <button class="button button-clear button-primary icon ion-close" ng-click="close()"></button>
    </ion-header-bar>
    <ion-content class="scroll-content padding">
    	<div class="content padding-bottom">
			<div class="list">
				<div class="item">
					<img src="userCenter/img/003.jpg" width="100%">					
				</div>			
				<label class="item item-input">
					<i class="icon ion-ios-person-outline positive"></i>
					<input type="text" placeholder="请输入您的用户名" ng-model="data.userName">
				</label>
				<label class="item item-input">
					<i class="icon ion-ios-unlocked-outline positive"></i>
					<input type="password" placeholder="请输入您的密码" ng-model="data.password">
				</label>
				<label class="item item-checkbox">
					<label class="checkbox">
						<input type="checkbox" checked>
					</label>
					记住密码
				</label>
			</div>
			<div class="padding-left padding-right">
				<button class="button button-block button-assertive" ng-click="login()">登录</button>				
			</div>
		</div>
	</ion-content>
</ion-modal-view>