<section class='h-container' ng-app="bigsalerate" ng-controller="bigsalerateCtrl">
	<div class='h-container-header' ng-click="toSaleDetail()">
		<h3 class='header-title'>
			大户销量占比
		</h3>
		<em class='header-more'></em>
	</div>

	<div class='h-container-content'>
		<div class="main-content-box animate-fadein" ng-if='bigSaleRate.small'>
			<div class='left-content'>
				<div class="small-chart-box" data-ng-init="smallChartContainerLoad()">
					<bigHomeRate class="chart"></bigHomeRate>
				</div>
				<div class='small-chart-title'>
					<p>全国排名11</p>
				</div>
				<div class='small-chart-summary'>
					超5倍均量客户销量占比
				</div>
			</div>
			<article class='right-content'>
				<section>
					<p class='title'>超三倍均量客户销量占比</p>
					<p class='value'>52.06%</p>
				</section>
				<section>
					<p class='title'>前1%客户销量占比</p>
					<p class='value'>52.06%</p>
				</section>
				<section class='last-sec'>
					<p class='title'>前5%客户销量占比</p>
					<p class='value'>52.06%</p>
				</section>
			</article>
		</div>
		<div class="main-content-box more-content animate-fadein" ng-if='bigSaleRate.more'>
			<div class='top-content'>
				<div class="small-chart-box" data-ng-init="moreChartContainerLoad()">
					<bigHomeRateMore class="chart"></bigHomeRateMore>
				</div>
				<div class='small-chart-title'>
					<p>全国排名11</p>
				</div>
				<div class='small-chart-summary'>
					超5倍均量客户销量占比
				</div>
			</div>
			<article class='bottom-content'>
				<section style="border-top: 1px solid #f1f1f1;">
					<p class='title'>正常经营户数（户）</p>
					<p class='value'>35728</p>
				</section>
				<section>
					<p class='title'>总销量（箱）</p>
					<p class='value'>352198.88</p>
				</section>
				<section class="double">
					<p class='title'>超5倍均量客户</p>
					<section>
						<p class='title'>户数占比</p>
						<p class='value'>4.26%</p>
					</section>
					<section class='last-sec'>
						<p class='title'>销量占比</p>
						<p class='value'>45.19%</p>
					</section>
				</section>
				<section class="double">
					<p class='title'>超3倍均量客户</p>
					<section>
						<p class='title'>户数占比</p>
						<p class='value'>6.03%</p>
					</section>
					<section class='last-sec'>
						<p class='title'>销量占比</p>
						<p class='value'>52.06%</p>
					</section>
				</section>
				<section>
					<p class='title'>前1%客户销量占比</p>
					<p class='value'>18.59%</p>
				</section>
				<section>
					<p class='title'>前5%客户销量占比</p>
					<p class='value'>48.48%</p>
				</section>
				<section>
					<p class='title'>前10%客户销量占比</p>
					<p class='value'>60.2%</p>
				</section>
				<section>
					<p class='title'>前20%客户销量占比</p>
					<p class='value'>71.5%</p>
				</section>
				<section class='last-sec'>
					<p class='title'>后20%客户销量占比</p>
					<p class='value'>2.06%</p>
				</section>
			</article>
		</div>
		<button ng-click='bigHomeRoteMore()' class='detail'>{{bigSaleRate.btnText}}</button>
	</div>
</section>