<ion-view view-title="关于">
	<!--
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
           	<i class="ion-arrow-left-a"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
   	-->
    <ion-nav-buttons side="left">
    	<button class="button button-clear button-icon icon ion-arrow-left-c" ng-click="goBack()"></button>
  	</ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="userCenter/img/logo.png">

                <h2>Hybrid APP</h2>

                <p>Version 2.0.0</p>
            </div>

            <div class="item item-body">
            
                <p>此APP为采用Ionic、AngularJS、Cordova开发的混合式APP。</p>
                
                <p>Ionic是一个前端框架,帮助开发者使用HTML5、 CSS3、JavaScript开发出具有原生应用感觉的APP。</p>

                <p>有任何意见或建议，可以发送邮件给我们：beyondself_77@sohu.com</p>

                <p>如您想支持该App，您可以去Store去给我们好评，谢谢！</p>
                
            </div>
        </div>
    </ion-content>
</ion-view>