<ion-view title="欢  迎  您！">
 	<ion-nav-bar class="bar bar-positive">
    	<ion-nav-buttons side="left">
    		<button class="button button-icon icon ion-android-contact" ng-click="loginPopover.show($event)"></button>
  		</ion-nav-buttons>
  		<ion-nav-buttons side="right">    
    		<button class="button button-icon ion-more" ng-click="toolPopover.show($event)"></button>
  		</ion-nav-buttons>
  	</ion-nav-bar>
  	<ion-content has-header="true" padding="true">		
		<div id="myLifeHome">
			<p><h>My Life Home</h></p>
		</div>
		<div id="travelHome">
			<p><h>Travel Home</h></p>
		</div>
		<div id="hotelHome">
			<p><h>Hotel Home</h></p>
		</div>
		<div id="userCenterHome">
			<p><h>User Center Home</h></p>
		</div>		
	</ion-content>
	<div class="tabs tabs-icon-top">
		<a class="tab-item tab-item-active" href="#/app/home/1">
			<i class="icon ion-ios-home-outline"></i>首页
		</a> 
		<a class="tab-item" href="#/app/home/2">
			<i class="icon ion-ios-email-outline"></i>信息
		</a> 
		<a class="tab-item" href="#/app/home/3"> 
			<i class="icon ion-ios-plus-empty"></i>发微博
		</a> 
		<a class="tab-item" href="#/app/home/4"> 
			<i class="icon ion-ios-eye-outline"></i>发现
		</a> 
		<a class="tab-item" href="#/app/home/5"> 
			<i class="icon ion-ios-person-outline"></i>我
		</a>
	</div>
</ion-view>