<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive"> 
 
  <!-- MyLife Tab -->
  <ion-tab title="我的生活" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/life/home">
    <ion-nav-view name="tab-life"></ion-nav-view>
  </ion-tab>

  <!-- Travel Tab -->
  <ion-tab title="旅游" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/app/travel/home">
    <ion-nav-view name="tab-travel"></ion-nav-view>
  </ion-tab>
  
  <!-- Pick Tab -->
  <ion-tab title="精选" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/app/pick/home">
      <ion-nav-view name="tab-pick"></ion-nav-view>
  </ion-tab>

  <!-- UserCenter Tab -->
  <ion-tab title="用户中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/userCenter/home">
    <ion-nav-view name="tab-userCenter"></ion-nav-view>
  </ion-tab>  
</ion-tabs>
