<ion-popover-view>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" href="">
        <i class="icon ion-android-settings padding-left" style="font-size:18px;"></i><font size="2">设置</font>
      </ion-item>
      <ion-item class="item-icon-left" href="">
        <i class="icon ion-chatbubble-working padding-left" style="font-size:18px;"></i><font size="2">消息</font>
      </ion-item>
      <ion-item class="item-icon-left" href="">
        <i class="icon ion-android-hand padding-left" style="font-size:18px;"></i><font size="2">推荐</font>
      </ion-item>
      <ion-item class="item-icon-left" href="">
        <i class="icon ion-android-create padding-left" style="font-size:18px;"></i><font size="2">反馈</font>
      </ion-item>
      <ion-item class="item-icon-left" href="http://www.baidu.com">
        <i class="icon ion-android-share-alt padding-left" style="font-size:18px;"></i><font size="2">分享</font>
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/account">
        <i class="icon ion-android-favorite padding-left" style="font-size:18px;"></i><font size="2">关注</font>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-popover-view>