<ion-popover-view>
    <ion-list>
      	<ion-item class="item-icon-left" href="">
        	<i class="icon ion-android-settings"></i>设置
      	</ion-item>
      	<ion-item class="item-icon-left" href="">
      	  	<i class="icon ion-chatbubble-working"></i>消息
      	</ion-item>
      	<ion-item class="item-icon-left" href="">
        	<i class="icon ion-android-hand"></i>推荐
      	</ion-item>
      	<ion-item class="item-icon-left" href="">
       	 	<i class="icon ion-android-create"></i>反馈
      	</ion-item>
      	<ion-item class="item-icon-left" href="http://www.baidu.com">
        	<i class="icon ion-android-share-alt"></i>分享
      	</ion-item>
    </ion-list>
</ion-popover-view>